// Purple color
$dave-primary: #554BEC;
$dave-purple-50: #F3F3F9;
$dave-purple-100: #EAE9FF;
$dave-purple-200: #A39DFD;
$dave-purple-300: #7971F4;
$dave-purple-400: #7571B6;
$dave-purple-500: #6158F0;
$dave-purple-600: #443AD1;
$dave-purple-700: #3931B4;
$dave-purple-800: #322B96;

// Black color
$dave-black: #1E1E25;

// Gray color 
$dave-gray-50: #F9FAFB;
$dave-gray-100: #F2F3F5;
$dave-gray-200: #EBEDF1;
$dave-gray-300: #DEE1E7;
$dave-gray-400: #BCC0C9;
$dave-gray-500: #8B95A1;
$dave-gray-600: #6A7684;
$dave-gray-700: #4E5968;
$dave-gray-800: #333942;

// Green color
$dave-green: #89E488;

// State
$dave-warning: #F44336;
$dave-warning-bg: #FFE2E0;
$dave-success: #588CF0;
$dave-success-bg: #E1EBFF;

// ETC
$dave-badge-free: #38D9A9;
$dave-badge-cert: #748FFC;

// else
$dave-border: #919191;
$dave-categoryblack: #1e1e25;
$dave-background: #fefefe;
$dave-tooltip: #4E5968;
$dave-white: #ffffff;
$dave-dropdown: #ebedf1;

// Typographies
$dave-typo-1: 4.6rem;
$dave-typo-2: 4rem;
$dave-typo-3: 3.2rem;
$dave-typo-4: 2.8rem;
$dave-typo-5: 2.4rem;
$dave-typo-6: 2rem;
$dave-typo-7: 1.8rem;
$dave-typo-8: 1.6rem;
$dave-typo-9: 1.4rem;
$dave-typo-10: 1.2rem;