:root {
  --nav-height: 6rem;
  --screen-max-width: 1280px;

  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #121212;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;

  --gray: rgba(190, 197, 204, 0.5);
  --gray-2: rgba(190, 197, 204, 0.2);

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  // --text-light-1: var(--indigo);
  --text-light-1: var(--black);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  --point-color: #ffc800;
  // --point-color: hsla(160, 100%, 37%, 1);

  // font
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.2rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  // layout
  --padding-basic: 3rem;
}

@media (min-width: 768px) {
  :root {
    --padding-basic: 5rem;
    --h1-font-size: 5rem;
    --h2-font-size: 3.8rem;
    --h3-font-size: 2.4rem;
    --normal-font-size: 1.8rem;
    --small-font-size: 1.4rem;
  }
}

// Purple color
$primary: #554bec;
$purple-50: #f3f3f9;
$purple-100: #eae9ff;
$purple-200: #a39dfd;
$purple-300: #7971f4;
$purple-400: #7571b6;
$purple-500: #6158f0;
$purple-600: #443ad1;
$purple-700: #3931b4;
$purple-800: #322b96;

// Black color
$black: #1e1e25;

// Gray color
$gray-50: #f9fafb;
$gray-100: #f2f3f5;
$gray-200: #ebedf1;
$gray-300: #dee1e7;
$gray-400: #bcc0c9;
$gray-500: #8b95a1;
$gray-600: #6a7684;
$gray-700: #4e5968;
$gray-800: #333942;

// Green color
$green: #89e488;

// State
$warning: #f44336;
$warning-bg: #ffe2e0;
$success: #588cf0;
$success-bg: #e1ebff;

// ETC
$badge-free: #38d9a9;
$badge-cert: #748ffc;

// else
$border: #919191;
$categoryblack: #1e1e25;
$background: #fefefe;
$tooltip: #4e5968;
$white: #ffffff;
$dropdown: #ebedf1;

// Typographies
$typo-1: 4.6rem;
$typo-2: 4rem;
$typo-3: 3.2rem;
$typo-4: 2.8rem;
$typo-5: 2.4rem;
$typo-6: 2rem;
$typo-7: 1.8rem;
$typo-8: 1.6rem;
$typo-9: 1.4rem;
$typo-10: 1.2rem;
